<p>footer works!</p>
<div class="container-fluid footer">
    <div class="row">
        <div class="col-lg-3">
            <div class="menu-owner">
                <h1 class="menu-title">Car Repair</h1>
            </div>
            <div class="menu-footer-menu-container">
                <ul class="list-styled">
                    <li>
                        <i class="bi bi-geo-alt-fill"></i>
                            <span class="owner-contact">101 Kensington Ave, JC 07304</span>
                    </li>
                    <li>
                        <i class="bi bi-telephone"></i>
                            <span class="owner-contact">347 722 3919</span>
                    </li>
                    <li>
                        <i class="bi bi-envelope-fill"></i>
                            <span class="owner-contact"><a href="mailto:#">habibsibygmail.com</a></span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="menu-page">
                <h1 class="menu-title">Useful Pages</h1>
            </div>
            <div class="menu-footer-menu-container">
                <ul class="menu">
                    <li class="menu-item">   
                        <a routerLink=""><i class="bi bi-check-circle"></i>Home</a>                    
                    </li>
                    <li class="menu-item">                 
                        <a routerLink="menu"><i class="bi bi-check-circle"></i>Menu</a>      
                    </li>
                    <li class="menu-item">     
                        <a routerLink="about"><i class="bi bi-check-circle"></i>About Us</a>                 
                    </li>
                    <li class="menu-item">  
                        <a routerLink="contact"><i class="bi bi-check-circle"></i>Contacts Us</a>                      
                    </li>
                </ul> 
            </div>
        </div>
        <div class="col-lg-3">
            <div class="menu-service">
                <h1 class="menu-title">Services</h1>
            </div>
            <div class="menu-footer-menu-container">
                <ul class="menu">
                    <li class="menu-item">
                        <a href=""><i class="bi bi-check-circle"></i>Service-menu1</a>
                    </li>
                    <li class="menu-item">
                        <a href=""><i class="bi bi-check-circle"></i>Service-menu2</a>
                    </li>
                    <li class="menu-item">
                        <a href=""><i class="bi bi-check-circle"></i>Service-menu3</a>
                    </li>
                    <li class="menu-item">
                        <a href=""><i class="bi bi-check-circle"></i>Service-menu4</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="social-media">
                <a href="" target="_blank"><i class="bi bi-facebook"></i></a>
                <a href="" target="_blank"><i class="bi bi-whatsapp"></i></a>
                <a href="" target="_blank"><i class="bi bi-instagram"></i></a>
                <a href="" target="_blank"><i class="bi bi-youtube"></i></a>
            </div>
        </div>

    </div>
</div>
